@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');



:root {
    --gold: #caa43a;
    --silver: #D3D3D3;
    --deep: #0e2830;
    --cream: #f8f2ea;
    --table-head: #0d2930;
    --accent: #b78829;
    --silver: #bfbfbf;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hind Siliguri;
}
body {
    min-height: 100vh;
    background: var(--cream);
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 1.3rem 10%;
   /* background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    background-color: #0b1b22;
    backdrop-filter: blur(50px);
    z-index: -1;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
   /* Remove symbol to see magic left: 0; */
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
}
.header:hover::after{
    left: 100%;
}
.logo{
    
     margin-top: 15px;
     margin-left: 5px;
     font-size: 2rem;
     color: white;
     text-decoration: none;
     font-weight: 800;
}
.navbar a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
#check{
    display: none;
}
.icons{
    top: 27.5%; /* update */
    position: absolute;
    right: 4.5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
    border: 2px solid rgba(255, 255, 255, .7); /* update */
    padding: 7px; /* update */
    border-radius: 10px;
    color: rgba(255, 255, 255, .7);
    transition: 1.2s all ease;
}
.icons:hover {
    color: red;
    border: 2px solid #0e2830;
    box-shadow: .5px .5px var(--cream); /*update*/
    border-radius: 10px;
    font-size: 30px;
    transform: rotate(90deg); /* update */
}
/*U-turn*/
@media (max-width: 980px) {
    .header{
        padding: 1.3rem 3%;
    }
    .icons #close-icon{
        display: none;
    }
}
@media (max-width: 792px) {
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon {
    display: none;
    }
    #check:checked~.icons #close-icon{
    display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .8s ease;
    }
    #check:checked~.navbar {
    height: 17.7rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .8s ease;
 }
 
 .navbar a:hover {
    background: white;
    border: .1px dashed white#42445A;
    border-radius: 20px;
    color: var(--gold);
}
 
    #check:checked~.navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
    }
}
#menu-icon{
    font-size: 30px;
}
#menu-icon:hover{
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
}
#close-icon{
    font-size: 30px;
}
#close-icon:hover {
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
}
#logo1{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    animation-name: logo;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes logo{
  form{border: 0px solid white;
  }
  to{
      border: 1.5px dotted #b78829;
}
}




    /* Header */
    #header{
      position: fixed;
      margin-top: 80px;
      width: 100%;
      background: linear-gradient(90deg, #0b1b22);
      color: var(--cream);
      padding:16px;
      display:flex;
      align-items: center;
      gap:14px;
      border-bottom:3px solid var(--accent);
    }
   .logo{
      height: auto;
      width: 100%;
      border-radius: 4px
    }
  
    #number{
    font-family: Hind Siliguri;
    margin-top: 25px;
    margin-right: 0px auto;
    font-size: 16.5px; 
    text-decoration: none;
    color: white;
    text-align: right;
    transition: .8s .5s all ease-in;
    }
    #number:hover{
      font-size: 15.5px;
      transition: 2s all ease-in;
      color: var(--gold);
    }
    
    
#webpage {
    top: 165px;
    height: 250px;
    width: 391.5px;
    position: fixed;
}
