@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');



:root {
    --gold: #caa43a;
    --silver: #D3D3D3;
    --deep: #0e2830;
    --cream: #f8f2ea;
    --table-head: #0d2930;
    --accent: #b78829;
    --silver: #bfbfbf;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hind Siliguri;
}
body {
    min-height: 100vh;
    background: var(--cream);
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 1.3rem 10%;
   /* background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    background-color: #0b1b22;
    backdrop-filter: blur(50px);
    z-index: -1;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
   /* Remove symbol to see magic left: 0; */
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
}
.header:hover::after{
    left: 100%;
}
.logo{
    
     margin-top: 15px;
     margin-left: 5px;
     font-size: 2rem;
     color: white;
     text-decoration: none;
     font-weight: 800;
}
.navbar a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
#check{
    display: none;
}
.icons{
    top: 27.5%; /* update */
    position: absolute;
    right: 4.5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
    border: 2px solid rgba(255, 255, 255, .7); /* update */
    padding: 7px; /* update */
    border-radius: 10px;
    color: rgba(255, 255, 255, .7);
    transition: 1.2s all ease;
}
.icons:hover {
    color: red;
    border: 2px solid #0e2830;
    box-shadow: .5px .5px var(--cream); /*update*/
    border-radius: 10px;
    font-size: 30px;
    transform: rotate(90deg); /* update */
}
/*U-turn*/
@media (max-width: 980px) {
    .header{
        padding: 1.3rem 3%;
    }
    .icons #close-icon{
        display: none;
    }
}
@media (max-width: 792px) {
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon {
    display: none;
    }
    #check:checked~.icons #close-icon{
    display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .8s ease;
    }
    #check:checked~.navbar {
    height: 17.7rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .8s ease;
 }
 
 .navbar a:hover {
    background: white;
    border: .1px dashed white#42445A;
    border-radius: 20px;
    color: var(--gold);
}
 
    #check:checked~.navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
    }
}
#menu-icon{
    font-size: 30px;
}
#menu-icon:hover{
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
}
#close-icon{
    font-size: 30px;
}
#close-icon:hover {
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
}
#logo1{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    animation-name: logo;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes logo{
  form{border: 0px solid white;
  }
  to{
      border: 1.5px dotted #b78829;
}
}




    /* Header */
    #header{
      margin-top: 80px;
      width: 100%;
      background: linear-gradient(90deg, #0b1b22);
      color: var(--cream);
      padding:16px;
      display:flex;
      align-items: center;
      gap:14px;
      border-bottom:3px solid var(--accent);
    }
   .logo{
      height: auto;
      width: 100%;
      border-radius: 4px
    }
  
    #number{
    font-family: Hind Siliguri;
    margin-top: 25px;
    margin-right: 0px auto;
    font-size: 16.5px; 
    text-decoration: none;
    color: white;
    text-align: right;
    transition: .8s .5s all ease-in;
    }
    #number:hover{
      font-size: 15.5px;
      transition: 2s all ease-in;
      color: var(--gold);
    }
    /* body 1st content */
    .page{
      margin: 10px auto;
      padding: 5px;
    }

    /* pdf Button Position */
    .title{
      margin-right: 15px;
      float: right;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    /* pdf button */
    .pdf-btn{
      font-size: 15px;
      font-family: Hind Siliguri;
      background: transparent;
      border: 1px solid #ffffff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      color:#23363b;
      padding:10px 15px;
      border-radius:15px;
      text-decoration:none;
      font-weight:500;
      transition: 1s all ease-in;
    }
    .pdf-btn:hover{
      background-color: var(--gold);
      color: var(--cream);
      transition: .5s all ease-in;
      border: 2px solid var(--gold);
    }



:root{
      --gold: #caa43a;
    --silver: #D3D3D3;
}
body{
      font-family: Hind Siliguri;
}
.goldtable{
      width: 100%;
      margin-top: 0px auto;
      border-collapse: collapse;
      overflow: hidden;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.product1{
      width: 28%;
      font-weight: 700;
      font-family: Hind Siliguri;
      color:#21303a;
      text-align: center;
}
.desc1{
      width: 44%;
      opacity: 0.9;
      text-align: center;
      letter-spacing: 0.6px;
}
.price1{
      width: 28%;
      text-align: center;
      font-weight: 900;
      color:#16303a;
      text-align: center;
}
.goldtable th {
      background: #0d2930;
      color: var(--gold);
      padding: 20px; /* update */
      font-size: 16px;
      text-align: center;
}
.goldtable td{
      padding: 25px 25px; /* update */
      background: #fdf1af;
      border-bottom: solid rgba(0, 0, 0, 0.7);
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
}


    /* Gold Rate Banner */
    #goldbanner {
        margin-top: 0px;
        align-items: center;
        height: auto;
        width: 100%;
        border: 1px solid gold;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    }
/* silver banner */
#silverbanner {
    margin-top: 50px;
    margin-bottom: 5px;
    height: auto;
    width: 100%;
    display: flex;
    
    border: 1px solid silver;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
.silvertable{
      width: 100%;
      margin-top: 0px auto#42445A;
      border-collapse: collapse;
      overflow: hidden;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.product2{
      width: 28%;
      font-weight: 700; 
      color:#21303a;
      text-align: center;
}
.desc2{
      width: 44%;
      opacity: 0.9;
      text-align: center;
      letter-spacing: 0.6px;
}
.price2{
      width: 28%;
      text-align: center;
      font-weight: 900;
      color:#16303a;
      text-align: center;
}
.silvertable th {
      background: #0d2930;
      color: var(--gold);
      padding: 17px;
      font-size: 15px;
      text-align: center;
}
.silvertable td{
      padding: 25px 25px;
      background: var(--silver);
      border-bottom: solid rgba(0, 0, 0, 0.7);
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
    
    /* Last Update */
    .note{
      margin-top: 15px;
      text-align: center;
      font-size: 15px; 
      font-weight: 500;
      color: var(--cream);
      font-weight: 700;
      animation: onoff 1.5s normal infinite;
    }
    @keyframes onoff{
      from{
        color: '';
      }
      to{
        color: var(--gold);
      }
    }
    #brand{
      height: 45px; 
      width: 45px;
      border-radius: 50px;
      display: none;
    }
    #live{
      margin-top: 15px; 
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px; 
      font-weight: 500;
      color: var(--cream);
      font-weight: 700;
      animation: live 1s steps(4) infinite;
      animation-duration: 1.5s;
    }
    @keyframes live{
      from{
        color: var(--cream);
      }
      to{
        color: red;
      }
    }
    
    .timebox{
      padding: 5px 5px;
      margin: 5px auto;
      margin-bottom: 50px;
      background-color: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      border-radius: 20px;
      width: 300px;
      border: 1px solid #DEDEE9;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    #timebanner {
      font-family: Hind Siliguri;
      color: black;
      font-size: 17px;
      padding: 10px;
      margin-top: 0px auto;
      font-weight: bold;
}
    #time{
      color: red;
      font-size: 15px;
      font-family: Hind Siliguri;
      margin-top: 20px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    
    
    .ticker-wrap{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background:#000;
      color:var(--gold);
      padding: 10px 10px;
      font-weight: 700;
      z-index: 999;
      box-shadow: 0 -6px 20px rgba(0,0,0,0.5);
    }
    .ticker{
      overflow: hidden;
      white-space: nowrap;
    }
    .ticker .text{
      display: inline-block;
      padding-left: 100%;
      height: 28px;
      animation: scroll 60s linear infinite;
    }
    @keyframes scroll{
      0%{transform: translateX(0)}
      100%{transform: translateX(-100%)}
    }
b{
    color: red;
}
